<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="~/favicon.ico" type="image/x-icon" />
    <title>MyApp | @Url.ActionContext.RouteData.Values["action"].ToString() </title>
    <link rel="stylesheet" href="~/lib/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/lib/adminlte/css/adminlte.min.css" />
    <link rel="stylesheet" href="~/lib/ionicons/dist/css/ionicons.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>

<body class="hold-transition sidebar-mini skin-custom">
    <div class="wrapper">
        <!-- Navbar -->
        <nav class="main-header navbar navbar-expand border-bottom navbar-light bg-white">
            <!-- Left navbar links -->
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" data-widget="pushmenu" href="#"><i class="icon ion-md-menu"></i></a>
                </li>
            </ul>
        </nav>
        <!-- /.navbar -->
        <!-- Main Sidebar Container -->
        <aside class="main-sidebar elevation-2">
            <!-- Sidebar -->
            <div class="sidebar">
                <div class="user-panel" style="border-bottom: 1px solid #dee2e6;">
                    <a href="#" class="logo mt-2">
                        <!-- mini logo for sidebar mini 50x50 pixels -->
                        <span class="logo-mini"><img src="~/images/logomini.png" height="60"></span>
                        <!-- logo for regular state and mobile devices -->
                        <span class="logo-lg"><img src="~/images/dotnetcore.png"></span>
                    </a>
                    <hr />
                </div>
                <!-- Sidebar Menu -->
                <nav class="mt-2">
                    <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                        <!-- Add icons to the links using the .nav-icon class with font-awesome or any other icon font library -->
                        <li class="nav-header">Menu</li>
                        @Html.Menu()
                    </ul>
                </nav>
                <!-- /.sidebar-menu -->
            </div>
            <!-- /.sidebar -->
        </aside>
        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper" style="padding-bottom: 55px;">
            @RenderBody()
        </div>
        <!-- /.content-wrapper -->
        <!-- Footer -->
        <footer class="main-footer p-0">
            <strong>Copyright &copy; 2019 <a href="#">MyApp</a>.</strong>
            All rights reserved
            <div class="float-right d-none d-sm-inline-block">
                <b>Version</b> 1.0.0-alpha
            </div>
        </footer>
        <!-- /.Footer -->
    </div>
    <!-- ./wrapper -->


    <script src="~/lib/jquery/jquery.min.js"></script>
    <script src="~/lib/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/adminlte/js/adminlte.min.js"></script>
    <script src="~/js/site.js"></script>

    @RenderSection("scripts", required: false)
</body>
</html>