<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0 text-dark">Hello, I'm from Dashboard</h1>
            </div><!-- /.col -->
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item active">Dashboard</li>
                </ol>
            </div><!-- /.col -->
        </div><!-- /.row -->
    </div><!-- /.container-fluid -->
</div>
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header no-border">
                        <h3 class="card-title">Card #1</h3>
                    </div><!-- /.card-header -->
                    <div class="card-body" style="min-height:250px">
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8">
                <div class="card">
                    <div class="card-header no-border">
                        <h3 class="card-title">Card #2</h3>
                    </div><!-- /.card-header -->
                    <div class="card-body" style="min-height:250px">
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <div class="card-header no-border">
                        <h3 class="card-title">Card #3</h3>
                    </div><!-- /.card-header -->
                    <div class="card-body" style="min-height:250px">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>